#sobre-min > div > div {
    grid-template-columns: 100%;
}
#abilidades > div > div {
    grid-template-columns: repeat(1, 1fr);   
}
#protifolio > div > div {
    grid-template-columns: repeat(2, 1fr);
}
#protifolio > div > div > img {
    filter: grayscale(0%) ;
}
#home > div {
    grid-template-columns: repeat(1, 1fr);
}
footer {
    display: block;
    text-align: center;
    background: #000;
}
footer p {
    width: 100%;
    text-align: center;
}
footer a img {
    display: inline-block;
    width: 35px;
    padding: 10px;
    margin: 0px;
    padding-bottom: 30px;
}
.logo {
    display: block;
    width: 100%;
    text-align: center;
    position: relative;
    padding-bottom: 10px;
}
header {
    display: block;
    background: #FFF;
}
.bt {
    display: none;
    width: 100%;
    border: none;
    border-radius: 0;
    background: #FFF;
    color: #000;
    text-shadow: none;
    line-height: 40px;
    border-top: 1px solid #CCC;
}
#menu-mobile {
    display: block;
    position: fixed;
    top: 15px;
    left: 15px;
    filter: drop-shadow( 1px 1px 0px #FFF ) ;
    z-index: 999999999999;
}
#show-menu:checked ~ header a.bt {
    display: block !important;
}
#show-menu:checked ~ #sombra {
    display: block;
    background: #000D;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 999999;

}
#sombra img {
    position: fixed;
    bottom: 15px;
    left: calc( 50vw - 12px );
    filter: invert(100%);
}